* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: arial, sans-serif;

}

.hero {
    height: 100vh;
    background: linear-gradient( 180deg, #1b1b1b, #3a2b1f);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.hero-text {
    position: absolute;
    top: 20%;
    text-align: center;

}
.hero h1 {
    font-size: 4rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
    position: relative;
}

.coffee-bean {
    width: 120px;
    height: 180px;
    background: radial-gradient(circle at 30% 30%, #8a4b2a, #2b1a12);
    border-radius: 60% 60% 50% 50%;
    position: absolute;
    box-shadow: 
        inset -10px -15px 25px rgba(0,0,0,0.6),
        0 20px 40px rgba(0,0,0,0.5);
}

.coffee-bean::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 140px;
    background: linear-gradient(180deg, #2b1a12, #000);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.next-section {
    height: 100vh;
    background-color: #f5f2eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(255,140,0,0.3) 0%, transparent 70%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
}
.bean {
  position: absolute;
  width: 120px;
  height: 160px;
  background: radial-gradient(circle at 30% 30%, #5a2e0f, #2b1405);
  border-radius: 50% 50% 45% 45%;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 
    inset -10px -10px 20px rgba(0,0,0,0.6),
    inset 10px 10px 20px rgba(255,255,255,0.05),
    0 20px 40px rgba(0,0,0,0.5);
 animation: floatRotate 5s ease-in-out infinite;
}

@keyframes floatRotate {
  0% {
    transform: translate(-50%, -50%) translateY(0px) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) translateY(-10px) rotate(2deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px) rotate(0deg);
  }
  75% {
    transform: translate(-50%, -50%) translateY(-10px) rotate(-2deg);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0px) rotate(0deg);
  }
}

.hero h1,
.hero p {
  position: relative;
  z-index: 2;
}
.bean {
  z-index: 1;
}